.product-details-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
    background: #ffffff;
    color: #353a44;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 2px solid #353a44;
}

.product-details-card .product-details-header {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
}

.product-details-card .product-details-description {
    margin: 0;
    margin-bottom: 15px;
}

.product-details-card button.product-details-close-button {
    padding: 1rem 1.2rem;
    background: #446ab6;
    color: #ffffff;
    border: 5px solid #446ab6;
    border-radius: 12px;
    font-weight: 700;
    font-size: large;
}

.product-details-card button.product-details-close-button:hover {
    background: #385a9e;
    border-color: #385a9e;
}